*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to left, #ff8800,#ff0000);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(92, 92, 92, 0.5);
    z-index: 1000px;
}
.logomarca{
    height: 60px;
    padding-top: 8px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
    height: 35px;
    width: calc(100% - 30px);
    
    
}
.menu{
    list-style: none;
    display: flex;
    gap: 25px;
}
header a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.lista{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.lista:hover{
    background-color: #910000;
    padding: 6px;
    border-radius: 5px;
}
.submenu{
    display: none;
    position: absolute;
    top: 35px;
    background-color: rgb(90, 0, 0);
    list-style: none;
}
.submenu li{
    padding-top: 7px;
}
#projetos:hover .submenu{
    display: block;
    border-radius: 5px;
    background-color: rgb(90, 0, 0, 0.8);
    left: 100%;
    transform: translateX(-50%);
}
.linksubmenu{
    display: flex;
    justify-content: center;
    padding: 5px 20px;
}
.linksubmenu:hover{
    color: red;
    transform: translateY(-5px) scale(1.06);
}
button{
    padding: 10px;
    background-color: #530101;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    color: white;
    border: 2px solid black;
    transition: 0.3s;
}
button:hover{
    background-color: #666666;
    box-shadow: 2px 5px 10px rgb(150, 150, 150);
}
main{
    margin-top: 100px;
}
.part1{
    text-align: center;
}
.part1 h1{
    font-size: 20px;
    margin: 35px 0px;
}
.imgmain{
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 8px black;
}
.part2 h2{
    margin: 15px 0px;
    padding-left: 15px
}
.part2 p{
    text-align: left;
    padding: 15px 10px 20px 10px;
    margin: 0px 10px;
    transition: 0.2s;
}

.part2 p:hover{
    background-color: rgb(189, 0, 0);
    border-radius: 8px;
    margin: 0x 10px;
}

.missao:hover, .visao:hover, .valores:hover{
    background-color: rgb(189, 0, 0);
    border-radius: 8px;
    margin: 0x 10px;
}
.msv{
    flex-wrap: wrap; /* permite quebrar linha automaticamente */
    margin: 15px 0px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-width: 320px;
    max-width: 1200px;
}
.msv h2{
    margin-bottom: 15px;
}
.missao,.visao,.valores{
    columns: 1;
    flex: 1;
    transition: 0.2s;
    padding: 10px;
}
.visao,.valores{
    margin-left: 20px;
}
.listvalores, .missao, .visao{
    min-width: 120px;
}
.orcamentobtn{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    background-color: #03035f;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    transition: 0.2s;
}
.orcamentobtn:hover{
    background-color: #0707ac;
    box-shadow: 2px 2px 8px #0707ac;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(90, 0, 0, 0.5);
    color: white;
}

